.image_1 {
  width: 93%;
  height: auto;
  margin-bottom: 40px;
}

.margin-need {
  margin-top: 70px;
  margin-bottom: 30px;
}

.center-verticaly {
  display: flex;
  .description {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.image_2 {
  width: 93%;
  height: auto;
  margin-bottom: 40px;
}

.image_3 {
  width: 93%;
  height: auto;
  margin-bottom: 40px;
}
