h1, h2, h3, h4, h5, h6 {
  font-weight: 200 !important;
}

.btn-xl {
  font-weight: 200 !important;
}

// mobile

.intro-lead-in {
  font-size: 22px !important;
  line-height: 27px !important;
}

.intro-heading {
    font-size: 28px !important;
    line-height: 38px !important;
    font-weight: 200 !important;
}

.btn {
  background-color: #e5352d !important;
  border-color: #b72a24 !important;
}

.country {
  width: 100% !important;
  background-color: white !important;
  height: 68px !important;
}

  input {
    width: 100% !important;
  }

  textarea {
    width: 100% !important;
  }

.a {
  color: #e5352d !important;
}

a.active, a:active, a:focus, a:hover {
  color: #e5352d !important;
}


.navbar-brand {
  color: #e5352d !important;
  font-family: 'Prociono', serif !important;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #e5352d !important;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #e5352d !important;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background-color: #e5352d !important;
}

.navbar-toggler {
  background-color: #e5352d !important;
}

 header.masthead {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,0,0,0.3) 50%), image-url("vin-pour-expat.jpg") !important;
  }

.text-primary {
  color: #e5352d !important;
}

.btnnouscontacter {
  margin-top: 20px;
  margin-bottom: 20px;
}

.flag {
  margin-right: auto !important;
  margin-left: auto !important;
}

// desktop

@media (min-width: 768px) {
  .intro-lead-in {
    font-size: 25px !important;
    line-height: 30px !important;
  }

.portfolio-caption {
  height: 130px;
}

img.logo-cuv {
  -webkit-filter: grayscale(1);
  opacity: 0.6;
  -webkit-transition: all .3s;
  transition: all .3s;
}

img.logo-cuv:hover {
  filter: none;
  opacity: 1;
}


.country {
  width: 100% !important;
  height: 68px !important;
}

  input {
    width: 100% !important;
  }

  textarea {
    width: 100% !important;
    height: 254px;
  }

  .section-subheading {
    margin-bottom: 40px !important;
  }

  section {
    padding: 60px !important;
  }



  .btnnouscontacter {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .text-primary {
    color: #e5352d !important;
  }

  .intro-heading {
    font-size: 40px !important;
    line-height: 55px !important;
    font-weight: 200 !important;
  }

  header.masthead {
    background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,0,0,0.3) 50%), image-url("vin-pour-expat.jpg") !important;
  }

  .btn {
    background-color: #e5352d !important;
    border-color: #b72a24 !important;
  }

  .a {
    color: #e5352d !important;
  }

  a.active, a:active, a:focus, a:hover {
    color: #e5352d !important;
  }

  .navbar-brand {
    color: #e5352d !important;
    font-family: 'Prociono', serif !important;
  }

  #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #e5352d !important;
  }

  ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
    background-color: #e5352d !important;
  }

  #portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background-color: #e5352d !important;
  }
}
