.nav-link {
  color: darkgrey !important;
}

.navbar-shrink {
  background-color: #FFFFFF !important;
}

#mainNav {
  background-color: #FFFFFF;
}

@media (min-width: 768px) {
  #mainNav {
    background-color: #FFFFFF;
    background-color: transparent;
  }
}
