/* line 1, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/_alert.scss */
.alert {
  padding: 0px !important;
  margin-bottom: 0px !important;
}

/* line 6, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/_alert.scss */
.alert-info {
  background-color: #dcf7d7 !important;
  border-color: #dcf7d7 !important;
}

/* line 11, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/_alert.scss */
.alert-warning {
  background-color: #f98977 !important;
  border-color: #f98977 !important;
  color: black;
}
/* line 4, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
.intro-lead-in {
  font-size: 22px !important;
  line-height: 27px !important;
}

/* line 9, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
.intro-heading {
  font-size: 28px !important;
  line-height: 38px !important;
}

/* line 14, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
.btn {
  background-color: #e5352d !important;
  border-color: #b72a24 !important;
}

/* line 19, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
.country {
  width: 100% !important;
  background-color: white !important;
  height: 68px !important;
}

/* line 25, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
input {
  width: 100% !important;
}

/* line 29, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
textarea {
  width: 100% !important;
}

/* line 33, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
.a {
  color: #e5352d !important;
}

/* line 37, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
a.active, a:active, a:focus, a:hover {
  color: #e5352d !important;
}

/* line 42, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
.navbar-brand {
  color: #e5352d !important;
  font-family: 'Prociono', serif !important;
}

/* line 47, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #e5352d !important;
}

/* line 51, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #e5352d !important;
}

/* line 55, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background-color: #e5352d !important;
}

/* line 59, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
.navbar-toggler {
  background-color: #e5352d !important;
}

/* line 63, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
header.masthead {
  background-image: linear-gradient(-226deg, rgba(0, 101, 168, 0.6) 0%, rgba(0, 36, 61, 0.6) 50%), url(/assets/mobile_banner_vpe-fa518f4d33d281f08f390e4b8fff8803c0662a660249c505d9326c43102b13d5.jpg) !important;
}

/* line 67, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
.text-primary {
  color: #e5352d !important;
}

/* line 71, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
.btnnouscontacter {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 76, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
.flag {
  margin-right: auto !important;
  margin-left: auto !important;
}

@media (min-width: 768px) {
  /* line 84, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
  .intro-lead-in {
    font-size: 25px !important;
    line-height: 30px !important;
  }

  /* line 89, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
  .portfolio-caption {
    height: 130px;
  }

  /* line 93, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
  img.logo-cuv {
    -webkit-filter: grayscale(1);
    opacity: 0.6;
    -webkit-transition: all .3s;
    transition: all .3s;
  }

  /* line 100, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
  img.logo-cuv:hover {
    filter: none;
    opacity: 1;
  }

  /* line 106, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
  .country {
    width: 100% !important;
    height: 68px !important;
  }

  /* line 111, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
  input {
    width: 100% !important;
  }

  /* line 115, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
  textarea {
    width: 100% !important;
    height: 254px;
  }

  /* line 120, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
  .section-subheading {
    margin-bottom: 40px !important;
  }

  /* line 124, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
  section {
    padding: 60px !important;
  }

  /* line 130, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
  .btnnouscontacter {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /* line 135, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
  .text-primary {
    color: #e5352d !important;
  }

  /* line 139, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
  .intro-heading {
    font-size: 40px !important;
    line-height: 55px !important;
  }

  /* line 144, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
  header.masthead {
    background-image: linear-gradient(-225deg, rgba(0, 101, 168, 0.6) 0%, rgba(0, 36, 61, 0.6) 50%), url(/assets/banner_vpe-a2c76b1d076f33dc53b52907cdb6c10cfcc8bd6a5f1cafc0e154d6bfae97f702.jpg) !important;
  }

  /* line 148, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
  .btn {
    background-color: #e5352d !important;
    border-color: #b72a24 !important;
  }

  /* line 153, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
  .a {
    color: #e5352d !important;
  }

  /* line 157, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
  a.active, a:active, a:focus, a:hover {
    color: #e5352d !important;
  }

  /* line 161, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
  .navbar-brand {
    color: #e5352d !important;
    font-family: 'Prociono', serif !important;
  }

  /* line 166, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
  #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #e5352d !important;
  }

  /* line 170, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
  ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
    background-color: #e5352d !important;
  }

  /* line 174, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
  #portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background-color: #e5352d !important;
  }
}
/* line 4, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
.intro-lead-in {
  font-size: 22px !important;
  line-height: 27px !important;
}

/* line 9, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
.intro-heading {
  font-size: 28px !important;
  line-height: 38px !important;
}

/* line 14, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
.btn {
  background-color: #e5352d !important;
  border-color: #b72a24 !important;
}

/* line 19, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
.country {
  width: 100% !important;
  background-color: white !important;
  height: 68px !important;
}

/* line 25, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
input {
  width: 100% !important;
}

/* line 29, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
textarea {
  width: 100% !important;
}

/* line 33, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
.a {
  color: #e5352d !important;
}

/* line 37, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
a.active, a:active, a:focus, a:hover {
  color: #e5352d !important;
}

/* line 42, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
.navbar-brand {
  color: #e5352d !important;
  font-family: 'Prociono', serif !important;
}

/* line 47, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #e5352d !important;
}

/* line 51, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #e5352d !important;
}

/* line 55, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background-color: #e5352d !important;
}

/* line 59, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
.navbar-toggler {
  background-color: #e5352d !important;
}

/* line 63, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
header.masthead {
  background-image: linear-gradient(-226deg, rgba(0, 101, 168, 0.6) 0%, rgba(0, 36, 61, 0.6) 50%), url(/assets/mobile_banner_vpe-fa518f4d33d281f08f390e4b8fff8803c0662a660249c505d9326c43102b13d5.jpg) !important;
}

/* line 67, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
.text-primary {
  color: #e5352d !important;
}

/* line 71, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
.btnnouscontacter {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 76, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
.flag {
  margin-right: auto !important;
  margin-left: auto !important;
}

@media (min-width: 768px) {
  /* line 84, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
  .intro-lead-in {
    font-size: 25px !important;
    line-height: 30px !important;
  }

  /* line 89, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
  .portfolio-caption {
    height: 130px;
  }

  /* line 93, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
  img.logo-cuv {
    -webkit-filter: grayscale(1);
    opacity: 0.6;
    -webkit-transition: all .3s;
    transition: all .3s;
  }

  /* line 100, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
  img.logo-cuv:hover {
    filter: none;
    opacity: 1;
  }

  /* line 106, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
  .country {
    width: 100% !important;
    height: 68px !important;
  }

  /* line 111, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
  input {
    width: 100% !important;
  }

  /* line 115, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
  textarea {
    width: 100% !important;
    height: 254px;
  }

  /* line 120, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
  .section-subheading {
    margin-bottom: 40px !important;
  }

  /* line 124, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
  section {
    padding: 60px !important;
  }

  /* line 130, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
  .btnnouscontacter {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /* line 135, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
  .text-primary {
    color: #e5352d !important;
  }

  /* line 139, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
  .intro-heading {
    font-size: 40px !important;
    line-height: 55px !important;
  }

  /* line 144, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
  header.masthead {
    background-image: linear-gradient(-225deg, rgba(0, 101, 168, 0.6) 0%, rgba(0, 36, 61, 0.6) 50%), url(/assets/banner_vpe-a2c76b1d076f33dc53b52907cdb6c10cfcc8bd6a5f1cafc0e154d6bfae97f702.jpg) !important;
  }

  /* line 148, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
  .btn {
    background-color: #e5352d !important;
    border-color: #b72a24 !important;
  }

  /* line 153, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
  .a {
    color: #e5352d !important;
  }

  /* line 157, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
  a.active, a:active, a:focus, a:hover {
    color: #e5352d !important;
  }

  /* line 161, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
  .navbar-brand {
    color: #e5352d !important;
    font-family: 'Prociono', serif !important;
  }

  /* line 166, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
  #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #e5352d !important;
  }

  /* line 170, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
  ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
    background-color: #e5352d !important;
  }

  /* line 174, /Users/thomasmulliez/code/tommulliez/projet_expats/app/assets/stylesheets/pages/_home.scss */
  #portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background-color: #e5352d !important;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

@import "pages/index";
