<header class="masthead">
  <div class="container">
    <div class="intro-text">

      <div class="intro-heading">Retrouvez les plaisirs du vin Français</div>
      <div class="intro-lead-in">Recevez chez vous du vin Français au meilleur prix</div>
      <a class="btn btn-xl js-scroll-trigger" href="#services">En savoir +</a>
    </div>
  </div>
</header>
<!-- <header>
  <div class="container">
    <%= video_tag "video_vin_pour_expat.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>
  </div>
</header> -->
