<section id="services">
  <div class="container margin-need">
    <div class="row">
      <div class="col-xs-12 col-md-7 text-center">
        <img class="image_1" src=<%= image_path('photo_1.jpg')%> alt="">
      </div>
      <div class="col-xs-12 col-md-4 text-left center-verticaly">
        <div class="description">
          <div class="intro-lead-in">Le terroir Français, toute une histoire...</div>
          <br>
          <p>Atout inconstable, le terroir Français est d'une d'une richesse incomparable. La diversité des sols et sous sols, des climats et des cépages associée au savoir-faire des vignerons permet aux vins Français d'être les meilleurs au monde.</p>
        </div>
      </div>
      <div class="col-md-1">
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-xs-12 col-md-5 text-right center-verticaly">
        <div class="description">
          <div class="intro-lead-in">Notre mission : vous faire redécouvrir les vins Français</div>
          <br>
          <p>A quelques milliers de kilomètres de la France, il est souvent difficile de retrouver ce plaisir, pourtant si simple, de partager une bonne bouteille de vin entre amis ou en famille. Chez "Vins pour expats", nous mettons tout en oeuvre pour vous offrir ce service à des prix attractifs.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 text-center">
        <img class="image_2" src=<%= image_path('photo_2.jpg')%> alt="">
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-xs-12 col-md-7 text-center">
        <img class="image_1" src=<%= image_path('photo_3.jpg')%> alt="">
      </div>
      <div class="col-xs-12 col-md-4 text-left center-verticaly">
        <div class="description">
          <div class="intro-lead-in">Comment ça marche ?</div>
          <br>
          <p>1 - Afin de vous faire bénéficier de prix attractifs, un minimum de 300 bouteilles par commande est nécessaire. Ainsi, nous vous invitons à vous regrouper entre amis.</p>
          <br>
          <p>2 - Nous vous accompagnons par téléphone et par email afin de vous aider à choisir les produits parmis notre catalogue. Grâce à notre partenaire Cuvelier-Fauvarque, nous sommes en mesure de vous sélectionner les meilleurs bouteilles de vins sur plus de 1500 références.</p>
          <br>
          <p>3 - Nous nous occupons ensuite de la logistique et des frais de douane afin que vous puissiez recevoir votre commande chez vous sans que vous ayez à vous soucier de la livraison.</p>
        </div>
      </div>
      <div class="col-md-1">
      </div>
    </div>
    <div class="btnnouscontacter col-xs-12 col-md-12 text-center">
      <a class="btn btn-xl js-scroll-trigger" href="#contact">Contactez-nous</a>
    </div>
  </div>
</section>
