.alert {
  padding: 0px !important;
  margin-bottom: 0px !important;
}

.alert-info {
  background-color: #dcf7d7 !important;
  border-color: #dcf7d7 !important;
}

.alert-warning {
  background-color: #f98977 !important;
  border-color: #f98977 !important;
  color: black;
}
